.contact__list {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-left: 80px;
    margin-right: 115px;
  }
  .contact__list-menu {
    list-style: none;
  }
  .header__picture{
    padding-bottom: 40px;
  }
  .section__logo{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .logo{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
