.contact__list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-left: 140px;
  margin-right: 60px;
}
.contact__list-menu {
  list-style: none;
}
.header__picture {
  padding-bottom: 40px;
}
.logo {
}
.box__svg-facebook {
  position: relative;
  width: 150px;
  height: 150px;
  left: 20px;
  top: 650px;
  z-index: 1;
}
.box__svg-instagram {
  position: relative;
  width: 150px;
  height: 150px;
  left: 1180px;
  top: -710px;
  z-index: 1;
}
.section__logo {
  position: relative;
  width: 1040px;
  left: 150px;
}
