@import url(./index.css);

body {
  width: 1440px;
}
.contact__list {
  display: flex;
  gap: 50px;
}
.contact__list-menu {
  list-style: none;
  
}
.contact__button{
width: 250px;

}
.header__picture{
  padding-bottom: 40px;
}