@import url(./index.css);

body {
  width: 1440px;
}
.contact__list {
  display: flex;
  width: calc((100% - 40px) / 4);
}
.contact__list-menu {
  width: calc((100% - 40px) / 4);
  list-style: none;
}
